@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #dedede;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fontHeightCustom: 0.85rem;
  --fontSizeCustom: 0.8rem;
  --q-primary: #0059df;
  --maxHeight: 36px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
}

::webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::webkit-scrollbar-track {
  background: #e5e4e4;
  border-radius: 3px;
}

::webkit-scrollbar-thumb {
  background: #1460ad;
  border-radius: 3px;
}

::webkit-scrollbar:hover {
  @apply bg-blue-400;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #cecece;
  }
}

.q-field__inner {
  height: 100% !important;
}

.q-field__control,
.q-field__marginal {
  height: var(--maxHeight) !important;
}

.q-field--auto-height.q-field--dense.q-field--labeled .q-field__native,
.q-field__input {
  min-height: var(--fontHeightCustom) !important;
  line-height: var(--fontHeightCustom) !important;
}

.q-field__control span,
.q-field__control div:not(.q-field__append),
.q-field__control p {
  font-size: var(--fontSizeCustom) !important;
  line-height: var(--fontHeightCustom) !important;
}

.q-field--highlighted p,
.q-field--highlighted .q-field__label {
  @apply text-inherit !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.q-field--dense.q-field--float .q-field__label {
  display: flex;
  font-size: 16px !important;
  background-color: white;
  padding: 2px;
  top: -1px;
  left: -1px;
  z-index: 2;
}

.q-field--labeled.q-field--dense .q-field__native {
  padding-top: 6px !important;
  padding-bottom: 2px !important;
}

span.require,
p.require {
  padding-left: 1px;
  font-size: 18px !important;
  margin-top: 2px;
  margin-left: 1px;
  color: var(--q-negative);
}

.q-dialog__backdrop {
  backdrop-filter: blur(1px);
}

.q-field__inner.relative-position.col.self-stretch {
  color: white;
}
